doctype 5
html
  head
    title= "mike adams"
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css")
    link(rel='stylesheet', href="/stylesheets/zocial.css")
    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
    script(src="/javascripts/main.js")
  body
    block content