body {
  padding-top: 30px; /* 60px to make the container go all the way to the bottom of the topbar */
  color:#666;
  font-size: 12px;
}

h1 {
  color: #666 !important;
  height: auto;
}

.title{
  font-size: 50px;
  position: relative;
  left: 12%;
  -webkit-transform-origin: 50% 0;
  -moz-transform-origin: 50% 0;
  -o-transform-origin: 50% 0;
  -ms-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transform:rotate(270deg) translate(-200px, -180px);
  -moz-transform:rotate(270deg) translate(-200px, -180px);
  -o-transform:rotate(270deg) translate(-200px, -180px);
  -ms-transform:rotate(270deg) translate(-200px, -180px);
  transform:rotate(270deg) translate(-200px, -180px);
}

.container{
    padding-left:8%;
}

.box{
    position:relative;
  height:300px;
}

a {
    background-repeat: no-repeat;
}

a.icon {
    margin: 80px 10px 0px 10px;
}

/*a.icon:hover {
    background-color: inherit;
}*/

/* PROJECTS */

.insta {
    background: url("/images/projects.png") no-repeat -3px -540px;
    height:267px;
}

.insta:hover {
    background: url("/images/projects.png") no-repeat -3px -810px;
    height:269px;
}

.durand {
    background: url("/images/projects.png") no-repeat -3px -5px;
    height:270px;
}

.durand:hover {
    background: url("/images/projects.png") no-repeat -3px -288px;
    height:255px;
}

.streak {
    background: url("/images/projects.png") no-repeat -3px -1090px;
    height:267px;
}

.streak:hover {
    background: url("/images/projects.png") no-repeat -3px -1361px;
    height:270px;
}

/* EXPERIENCE */

.degreed {
    background: url("/images/experience.png") no-repeat -3px -540px;
    height:267px;
}

.degreed:hover {
    background: url("/images/experience.png") no-repeat -3px -810px;
    height:269px;
}

.brg {
    background: url("/images/experience.png") no-repeat -3px -3px;
    height:266px;
}

.brg:hover {
    background: url("/images/experience.png") no-repeat -3px -273px;
    height:270px;
}

.mtc {
    background: url("/images/experience.png") no-repeat -3px -1090px;
    height:267px;
}

.mtc:hover {
    background: url("/images/experience.png") no-repeat -3px -1357px;
    height:270px;
}

/* EDUCATION */
.byu {
    background: url("/images/education.png") no-repeat 0px 0px;
    height:270px;
}

.byu:hover {
    background: url("/images/education.png") no-repeat 0px -270px;
    height:270px;
}

.hr {
    background: url("/images/education.png") no-repeat -3px -1081px;
    height:267px;
}

.hr:hover {
    background: url("/images/education.png") no-repeat -3px -1351px;
    height:269px;
}

.ga {
    background: url("/images/education.png") no-repeat 0px -541px;
    height:267px;
}

.ga:hover {
    background: url("/images/education.png") no-repeat 0px -811px;
    height:270px;
}

/* PLACES */
.cali {
    background: url("/images/states.png") no-repeat -3px -540px;
    height:267px;
}

.cali:hover {
    background: url("/images/states.png") no-repeat -3px -808px;
    height:269px;
}

.ut {
    background: url("/images/states.png") no-repeat -3px -1080px;
    height:267px;
}

.ut:hover {
    background: url("/images/states.png") no-repeat -3px -1350px;
    height:270px;
}

.az {
    background: url("/images/states.png") no-repeat -3px -2px;
    height:267px;
}

.az:hover {
    background: url("/images/states.png") no-repeat -3px -270px;
    height:270px;
}

/* FAMILY */
.man {
    background: url("/images/family.png") no-repeat -3px -5px;
    height:267px;
}

.man:hover {
    background: url("/images/family.png") no-repeat -3px -270px;
    height:270px;
}

.woman {
    background: url("/images/family.png") no-repeat -3px -540px;
    height:267px;
}

.woman:hover {
    background: url("/images/family.png") no-repeat -3px -809px;
    height:269px;
}

.baby {
    background: url("/images/family.png") no-repeat -3px -1080px;
    height:267px;
}

.baby:hover {
    background: url("/images/family.png") no-repeat -3px -1350px;
    height:270px;
}

#header{
  height:200px;
  margin:25px 0;
  text-align:center;
}

#header h1{
  font-size:150px;
  margin:25px 0;
  color:#666;
}

#exp{
  height:300px;
  margin:25px 0;
}

#edu{
  height:300px;
  margin:25px 0;
}
.smalledu{
  height:30px;
  margin: 80px 10px 0 0;
}

#plc{
  height:300px;
  margin:25px 0;
}

#fam{
  height:300px;
  margin:25px 0;
}

#proj{
  height:300px;
  margin:25px 0;
}


